<div class="col-md-2 col-sm-3" id="pills-modify">
    <ul class="nav nav-stacked pills">
        <li class="categories">Categories</li>
        <li role="presentation">@Html.ActionLink("Smartphones, Tablets & Accessories", "SmartPhones_Tablets_Acessories","Categories")</li>
        <li role="presentation">@Html.ActionLink("Computers, Gaming & Peripherals", "Computers_Gaming_Peripherals", "Categories")</li>
        <li role="presentation">@Html.ActionLink("TV & Audio", "TV_Audio", "Categories")</li>     
        <li role="presentation">@Html.ActionLink("Microcontrollers", "Microcontrollers", "Categories")</li>
        <li role="presentation">@Html.ActionLink("Software", "Software", "Categories")</li>
    </ul>
</div>