@model IT_Heaven.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container-fluid body-content">
    <div class="row">
        @switch ((string)ViewBag.AccountType)
        {
            case "User": { Html.RenderPartial("~/Views/Manage/_AccountPartial.cshtml"); } break;
            case "Helper": { Html.RenderPartial("~/Views/Manage/_HelperAccountPartial.cshtml"); } break;
            case "Admin": { Html.RenderPartial("~/Views/Manage/_AdminAccountPartial.cshtml"); } break;
        }

        <div class="col-md-10 col-sm-5 col-md-offset-3 col-sm-offset-3 col-lg-offset-2">
            <div class="container">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <br/>
                    <h4>Account Settings</h4>
                    <br />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Change password" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
           


        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
